.app-navbar{
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 21;
    background-color: rgb(37, 35, 35);
        
        .app-logo{
            padding-left: 90px;
            height: 50px;
        }

        .nav-desktop{
            margin-left: auto;
            display: flex;
            padding-right: 90px;
            list-style: none;
            margin-bottom: 0;

            @media (max-width: 960px){
                display: none;
            }
        }


    li{
        .nav--link{
            display: block;
            color: white;
            padding: 5px 15px;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            transition: all .15s linear;

            &:hover{
                color: rgb(188, 194, 188);
            }
        }
    }
}


